@font-face {
    font-family: 'Material Design Iconic Font';
    src: url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff?v=1.0.1') format('woff'), url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.ttf?v=1.0.1') format('truetype'), url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.svg?v=1.0.1#Material-Design-Iconic-Font') format('svg');
    font-weight: normal;
    font-style: normal;
}
