@font-face {
    font-family: 'Material Design Iconic Font';
    src: url('material-design-iconic-font/dist/dist/font/Material-Design-Iconic-Font.woff?v=1.0.1') format('woff'), url('material-design-iconic-font/dist/font/Material-Design-Iconic-Font.ttf?v=1.0.1') format('truetype');
    font-weight: normal;
    font-style: normal;
}
