@font-face {
    font-family: "Material-Design-Iconic-Font";
    src: url("Material-Design-Iconic-Font.woff2") format("woff2"), url("Material-Design-Iconic-Font.woff") format("woff"), url("Material-Design-Iconic-Font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
